* {
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    background-color: #080808;

}

span {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 1em;
    font-family: 'Smooch Sans', sans-serif, serif;
    letter-spacing: 2px;
    color: #00C6CF;
}

/* From cssbuttons.io by @Cevorob */
button {
    position: relative;
    display: block;
    margin: -20px auto;
    height: 40px;
    padding: 0 30px;
    border: 2px solid #00C6CF;
    background: #080808;
    color: #00C6CF;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .2em;
}

button:before,
button:after {
    content: "";
    position: absolute;
    background: #080808;
    transition: all .2s linear;
}

button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
}

button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
}

button:hover {
    cursor: crosshair;
}

button:active {
    transform: scale(0.95);
}

button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
}

button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
}

button span {
    font-size: 12px;
    z-index: 3;
    position: relative;
    font-weight: 600;
    font-family: 'Antic', sans-serif;
}

.container {
    width: 40%;
    height: auto;
    margin: 5em;
    background: #333333;
    border-radius: 10px;
}

.container p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    padding: 1.5em;
    margin-bottom: 1.5em;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #fff;
}

footer p {
    font-size: .5em;
    margin-top: 17em;
    color: #fff;
}

@media only screen and (max-width: 480px) {
    header h1 {
        padding: .5em;
        font-size: 1em;
    }

    .container {
        width: 100%;
        margin: 5em;
    }
}